h1{
    text-align:center;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-size-adjust: 20px;

}
h2{
    text-align: left;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;

}

h3{
    text-align: left;
    
}

p{
    color:black;
    font-family:arial;
    line-height: 30px;
}

#menu{
	background-color: rgb(168, 34, 34);
	/* display: inline-flex; */
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.opciones{
	background-color: rgb(168, 34, 34);
	width: 120px;
	height: 30px;
	margin: 20px;
	font-size: 25px;
    
    
}